<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://damiandziura2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>damiandziura2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DamianDziura2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DamianDziura2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AppConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=damiandziura2dbserver.database.windows.net;Initial Catalog=DamianDziura2_db;Persist Security Info=True;User ID=Dymekk208j;Password=Damian13" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PortfolioWebAppV2.Models.DatabaseModels.ApplicationDbContext, PortfolioWebAppV2" MigrationConfiguration="PortfolioWebAppV2.Migrations.Configuration, PortfolioWebAppV2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AppConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=damiandziura2dbserver.database.windows.net;Initial Catalog=DamianDziura2_db;Persist Security Info=True;User ID=Dymekk208j;Password=Damian13</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>