@model PortfolioWebAppV2.Models.ViewModels.LoginViewModel

<div class="col">
    <div class="collapse float-right" id="LoginPanel">
        @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="input-group">
                <input type="text" class="form-control" style="margin-right: 0.5em; max-width: 200px;" placeholder="Login" name="UserName" id="login" [value]="UserName" />
                <input type="password" class="form-control" style="max-width: 200px; margin-right: 5px;" placeholder="Hasło" name="Password" id="Password" />
                <div class="form-group">
                    <div style="color: white; margin-right: 1em;">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <span class="">
                    <input type="submit" class="btn btn-success" value="Zaloguj"/>
                </span>
            </div>
            <a href="@Url.Action("Register", "Account")" style="margin-top: 0.5em; margin-left: 2em;" class="btn-sm btn-link float-sm-right" role="button">Utwórz konto</a>
            <div id="informacje" class="text-right" style="margin-top: 0.5em; font-size: 2em; color: red;">
            </div>
        }
    </div>
</div>








