@model PortfolioWebAppV2.Models.ViewModels.ContactViewModel

<a href="@Html.Raw(Model.FacebookLink)"><img src="~/Lib/images/facebook.png" /></a>
<a href="@Html.Raw(Model.GitHubLink)"><img src="~/Lib/images/git.png" /></a>
<a href="@Html.Raw(Model.LinkedInLink)"><img src="~/Lib/images/linkedin.png" /></a>

