@*@model MyPortfolioWebApp.Models.ViewModels.ContactViewModel*@

<a href=""><img src="~/Lib/images/facebook.png" /></a>
<a href=""><img src="~/Lib/images/git.png" /></a>
<a href=""><img src="~/Lib/images/linkedin.png" /></a>
